<!--
  Generated template for the CommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Comments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-fab top right edge>
    <button ion-fab (click)="onAddNewCommentClick()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
    <form [hidden]="addNewComment" (ngSubmit)="uploadComment()">
      <ion-item>        
        <ion-textarea type="text" [(ngModel)]="comment_description" name="new_comment" placeholder="Your Valuable Comment Here"></ion-textarea>
      </ion-item>
      <button ion-button type="submit" block>Add New Comment</button>
    </form>
<ion-list>
  <ion-item *ngFor="let comment of videoComments; let i = index">
    <ion-row>
      <ion-col col-3>
        <ion-avatar item-start>
          <img src={{comment.snippet.topLevelComment.snippet.authorProfileImageUrl}}>
        </ion-avatar>
      </ion-col>
      <ion-col col-9>
          <h3 style="white-space: pre-line; color:blue; margin-top: 0px;">{{comment.snippet.topLevelComment.snippet.authorDisplayName}}</h3>
          <h4 style="white-space: pre-line;" [innerHTML]="comment.snippet.topLevelComment.snippet.textDisplay"></h4>
          <p>{{comment.snippet.topLevelComment.snippet.publishedAt | date: 'medium'}}</p>    
          <!--<p>Reply &middot;<span *ngIf="comment.snippet.likeCount != 0">{{comment.snippet.topLevelComment.snippet.likeCount}}</span>-->
          <p>
          <span><ion-icon name="thumbs-up"></ion-icon> {{comment.snippet.topLevelComment.snippet.likeCount}}</span>
          &nbsp;&nbsp;
          <span *ngIf="comment.snippet.totalReplyCount != 0">&middot; 
            <a href="#" (click)="onShowRepliesClick(i)"><ion-icon [name]="showReplies == i  ? 'arrow-dropup-circle': 'arrow-dropdown-circle'"></ion-icon></a>
            &middot; {{comment.snippet.totalReplyCount}} 
            </span>
            &nbsp;&nbsp;
            <a href="#" (click)="onAddNewReplyClick()"><ion-icon name="undo"></ion-icon></a> 
          
          </p>
      </ion-col>
    </ion-row>
   <ion-row *ngIf="comment.snippet.totalReplyCount != 0">
      <ion-list *ngIf="showReplies === i">              
        <ion-item *ngFor="let reply of comment.replies.comments">
        <ion-row>
          <ion-col col-3>
            <ion-avatar item-start>
              <img src={{reply.snippet.authorProfileImageUrl}}>
            </ion-avatar>
          </ion-col>
          <ion-col col-9>
            <h3 style="white-space: pre-line; color:blue; margin-top: 0px;">{{reply.snippet.authorDisplayName}}</h3>
            <h4 style="white-space: pre-line;" [innerHTML]="reply.snippet.textDisplay"></h4> 
            <p>{{reply.snippet.publishedAt | date: 'medium'}}</p>  
            <p><a href="#" (click)="onAddNewReplyClick()">Reply</a> &middot;<span>{{reply.snippet.likeCount}}</span>
          </ion-col> 
        </ion-row>      
        </ion-item>
      </ion-list>
    </ion-row>   
    
  </ion-item>
</ion-list>


   <button *ngIf="pageToken" ion-button full color="primary" (click)="loadMoreComments()" icon-right>
          Load More
          <ion-icon name='download'></ion-icon>
  </button>

</ion-content>
